{% extends 'layouts/base.html' %}

{% block content  %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, sapiente accusamus possimus, tenetur saepe necessitatibus minus nobis porro aliquam quasi commodi debitis odit quas inventore eveniet et sit repudiandae voluptatem ex iste veniam ullam distinctio ducimus temporibus? Odio, nulla quia autem, amet id accusamus laudantium aliquam molestiae commodi ipsam officiis alias cumque! Enim delectus impedit iure quam, voluptates dolorem, pariatur eaque accusamus, ducimus voluptatibus veritatis error est nostrum culpa. Excepturi, ut? Provident dolore fugiat iusto ipsum, quaerat ducimus repellat commodi possimus nobis, sint, ab facere! Quo et quasi nobis eius accusantium odit. Vero, commodi natus necessitatibus dolore delectus quia officia?</p>

{% endblock %}